body {
    width: 430px;
    height: 170px;
    text-align: left;
}

input {
    width: 30px;
    font-size: 15px;
    text-align: right;
}

label {
    font-size: 15px;
}

hr {
    margin-top: 10px;
}
